<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-md-offset-2">
        
        <form-component 
        @save="addEmployee">
        </form-component>

        <table class="table table-hover mt-3">
                <tr class="thead-dark">
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Empresa</th>
                    <th scope="col"></th>
                </tr>
                <row-component v-for="(employee,index) in employees" 
                :key="employee.id"
                :employee="employee"
                @delete="deleteRow(index)"
                @update="updateRow(index,employee)"
                >
                </row-component>

            </table>
        
        </div>
       
    </div>
</div>
</template>

<script>
    export default {
        data(){
            return{
                employees:[]
            }
        },
        methods:{
            addEmployee(employee)
            {
                this.employees.push(employee);
            },
            deleteRow(index){
                this.employees.splice(index,1);
            },
            updateRow(index,employee){
                this.employees[index] = employee;
            }

        },
        mounted() {
            axios.get('/employees').then((response)=>{
            this.employees = response.data;
            });
        }
    }
</script>
