<template>
<div class="panel panel-dafult">  
    <div class="panel-body">
        <form action="" v-on:submit.prevent="save()">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre" v-model="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Ingrese su email" v-model="email">
            </div>
            <div class="form-group">
                <label for="company">Empresa</label>
    
            <multiselect v-model="value" :options="options" :custom-label="nameWithLang" placeholder="Seleccione una empresa    " label="name" track-by="name"></multiselect>

            </div>
            <button type="submit" class="btn btn-success">
                Guardar
            </button>
        </form>
    </div>
</div>


</template>


<script>
  import Multiselect from 'vue-multiselect'
    export default {
        components: { Multiselect },
        props:['companies'],
        data () {
        return {
            name:'',
            email:'',
            value: null,
            options: []
        }
        },
        mounted() {
            axios.get('/companies').then((response)=>{
            this.options = response.data;
            })
        },
        methods:{
            nameWithLang ({name}) {
                return `${name}`
            },
            
            save()
            {
                const params ={
                    name:this.name,
                    email:this.email,
                    company_id:this.value.id
                };
                this.name = '';
                this.email = '';
                this.value = null;
                axios.post('/employees',params)
                    .then((response)=>{
                        const emplo = response.data[0];
                        this.$emit('save',emplo);
                    });
            }
        }
    }
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>