<template>

    <tr>
        <th scope="row">{{employee.id}}</th>
        <td>
            <input v-if="editMode" type="text" class="form-control" v-model="employee.name">
            <p v-else >{{employee.name}}</p>
        </td>
        <td>
            <input v-if="editMode" type="text" class="form-control" v-model="employee.email">
            <p v-else >{{employee.email}}</p>
            </td>
        <td>
            <p>{{employee.company}}</p>
            </td>
        <td>
            <button v-if="editMode" class="btn btn-success" v-on:click="update" >Guardar</button>
                <button  v-else  class="btn btn-warning" v-on:click="edit" >Editar</button>
                <button class="btn btn-danger" v-on:click="del"> Eliminar</button>
        </td>
    </tr>

</template>

<script>
    export default {
        props:['employee'],
         data(){
            return{
              editMode : false,
            }
        },
        mounted() {
        },
        methods:{
            del(){
                console.log('this.employee.id :', this.employee.id);
                axios.delete(`/employees/${this.employee.id}`)
                .then(()=>{
                    this.$emit('delete');                
                });

            },
            edit(){
                this.editMode = true;
            },
            update(){
                 const params ={
                    name :this.employee.name,
                    email :this.employee.email
                };
                axios.put(`/employees/${this.employee.id}`,params)
                .then((response)=>{
                    this.editMode = false;
                    const employee = response.data
                    this.$emit('update',employee);                
                });

            }
        }
    }
</script>

